{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="auth">
        <h3>Request Verification Code</h3>
        {% include 'messages.html' %}
        <form action="{% url 'request-verify-page' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="client_id" id="client_id" value="{{ fieldValues.client_id }}">
            <input type="hidden" name="scope" id="scope" value="{{ fieldValues.scope }}">
            <input type="hidden" name="redirect_uri" id="redirect_uri" value="{{ fieldValues.redirect_uri }}">
            <input type="hidden" name="response_type" id="response_type" value="{{ fieldValues.response_type }}">
            <div class="form-group">
                <label>Email</label>
                <input type="email" name="email" class="form-control" value="{{ fieldValues.email }}"
                       placeholder="Enter account email">
            </div>
            <button class="btn btn-block btn-primary" type="submit">Request</button>
        </form>
        <p>Don't have an account? <a href="" id="register-url">Register</a></p>
        <p>Already have an account? <a href="" id="login-url">Login</a></p>
        <p>Forgot password? <a href="" id="forgot-url">Reset Account</a></p>
    </div>
{% endblock %}